.work {
    margin-bottom: 100px;
}
.work__description {
    margin-bottom: 70px;
    gap: 116px;
    display: flex;
}
.work__title {
    line-height: 0.97;
    max-width: 360px;
    font-weight: 500;
    font-size: 60px;
}
.work__text {
    margin-top: 64px;
    line-height: 1.17;
    max-width: 580px;
    color: var(--gray);
    font-weight: 400;
    font-size: 32px;
}


.content{
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
}
.work__content{
    max-width: 356px;
    display: flex;
    flex-direction: column;
}
.work__item {
    justify-content: space-between;
    gap: 50px;
    border-bottom: 2px solid var(--black);
    padding-bottom: 106px;
    margin-top: 108px;
    display: flex;
}
.work__content-title {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
}
.work__content-text {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
}
.work__content-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 40px;
}
.work__content-link {
    border-bottom: 1px solid var(--black);
    font-size: 18px;
    font-weight: 500;
    margin-top: auto;
    max-width: max-content;
}

.work__content-link--gray{
    color: var(--gray);
    border-color: var(--gray);
}

.work__content-paragraph{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.work__img{
    object-fit: cover;
    height: auto;
}

@media (max-width: 992px){
    .work__img{
        width: 550px;
    }
}

@media (max-width: 990px){
    .work__content-paragraph{
        font-size: 16px;
    }
    .work__content-text {
        font-size: 16px;
    }
}


@media (max-width: 900px){
    .work__title{
        font-size: 56px;
    }

    .work__text {
        font-size: 28px ;
    }
}

@media (max-width: 850px){
    .work__item{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 100px;
        padding-bottom: 102px;
    }
    .work__text {
        font-size: 24px;
    }
    .work__title {
        font-size: 53px;
    }
    .work__content-link {
        margin: 0 auto;
    }
}

@media (max-width: 700px){
    .work__description{
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }
    .work__text{
        margin: 0;
    }
    .work__item{
        margin-top: 70px;
        padding-bottom: 90px;
    }
}

@media (max-width: 600px){
    .work__title{
        font-size: 50px;
    }
    .work__text{
        font-size: 20px;
    }
    .work__item{
        margin-top: 66px;
        padding-bottom: 85px;
    }
    .work {
        margin-bottom: 80px;
    }
    .work__arrow{
        margin: 0 auto;
        width: 25px;
        height: auto;
    }
}

@media (max-width: 500px){
    .work__title{
        font-size: 46px;
    }
    .work__text {
        font-size: 18px;
    }
    .work__description {
        margin-bottom: 66px;
    }
}

@media (max-width: 468px){

}


