.work {
    margin-bottom: 100px;
}
.work__description {
    margin-bottom: 70px;
    gap: 116px;
    display: flex;
}
.work__title {
    line-height: 0.97;
    max-width: 360px;
    font-weight: 500;
    font-size: 60px;
}
.work__text {
    margin-top: 64px;
    line-height: 1.17;
    max-width: 580px;
    color: var(--gray);
    font-weight: 400;
    font-size: 32px;
}


.content{
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
}
.work__content{
    max-width: 356px;
    display: flex;
    flex-direction: column;
}
.work__item {
    justify-content: space-between;
    gap: 50px;
    border-bottom: 2px solid var(--black);
    padding-bottom: 106px;
    margin-top: 108px;
    display: flex;
}
.work__content-title {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
}
.work__content-text {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
}
.work__content-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 167px;
}
.work__content-link {
    border-bottom: 1px solid var(--black);
    font-size: 18px;
    font-weight: 500;
    margin-top: auto;
    max-width: max-content;
}

.work__content-link--gray{
    color: var(--gray);
    border-color: var(--gray);
}
