.info__items {
    display: flex;
    flex-direction: column;
    gap: 63px;
    margin-top: 136px;
    margin-bottom: 134px;
    max-width: 623px;
}
.info__item{
    display: flex;
    gap: 63px;
}

.info__left{
    max-width: 125px;    
    width: 100%;
}

.info__subtitle {
    border-bottom: 1px solid;
    max-width: max-content;
    font-size: 18px;
}

.info__text {
    font-size: 18px;
}

.info__text p:not(:last-child) {
    margin-bottom: 24px;
}

@media (max-width: 900px){
    .info__items{
        margin-bottom: 125px;
    }
}

@media (max-width: 800px){
    .info__items{
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

@media (max-width: 766px){
    .info__items {
        margin-top: 100px;
        margin-bottom: 95px;
    }
}

@media (max-width: 700px){
    .info__items {
        margin-top: 96px;
        margin-bottom: 91px;
    }
}

@media (max-width: 600px){
    .info__items {
        margin-top: 85px;
        margin-bottom: 80px;
    }
    .info__items {
        gap: 57px;
    }
}

@media (max-width: 540px){
    .info__items {
        margin-top: 75px;
        margin-bottom: 70px;
        gap: 50px;
    }
    .info__item{
        flex-direction: column;
        align-items: center;
        gap: 34px;
        text-align: center;
    }
}

@media (max-width: 368px){
    .info__text{
        font-size: 16px;
    }
}
