.header{
    margin: 50px 0 120px 0;
    padding: 13px 0 3px 0;
}
.header__inner{
    position: relative;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__link{
    border: 1px solid transparent;
    border-radius: 5px;
    transition: color 0.4s, border 0.4s , opacity 0.6s;
    padding: 2px;
}
.header__link:hover {
    opacity: 0.6;
}

.header__link:focus {
    border-color: var(--black);
    color:var(--black);
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.header__mobile {
    display: none;
    padding: 120px 15px 40px;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform .6s;
    background-color: aliceblue;
}

.header__mobile.active {
    transform: translateX(0);
}

@media (max-width: 1000px){
    .header{
        margin: 28px 0px 105px;
    }
}

@media (max-width: 900px){
    .header{
        margin: 50px 0px 100px;
    }
}

@media (max-width: 800px){
    .header{
        margin: 50px 0px 100px;
    }
}

@media (max-width: 700px){
    .header{
        margin-bottom: 90px;
    }
}

@media (max-width: 600px){
    .header {
        margin-bottom: 86px;
    }
}

@media (max-width: 540px){
    .header__nav{
        display: none;
    }
    .header {
        margin: 25px 0px 75px;
    }
    .logo img {
        width: 60px;
    }

    .menu-btn {
        display: flex;
    }

    .header__mobile {
        display: block;
    }

    .header__list {
        flex-direction: column;
        gap: 36px;
    }
}

@media (max-width: 500px){
    .header {
        margin-bottom: 80px;
    }
}





